p, .txt {
  font-size: var(--textSize);
  font-family: Lighter;
  color: var(--textColor);
  line-height: var(--maxSize);
}

.tit-header {
  font-family: Regular;
  font-size: var(--titleSize);
  color: var(--secondColor);
  text-align: center;
  margin: 4rem 0 1.5rem;
}

.subtit-header {
  font-family: Lighter;
  font-size: var(--maxSize);
}

::selection {
  background: var(--mainColor) /* WebKit/Blink Browsers */
}