.app-main {
  padding: 4rem 0 0;
}
.app-header{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 725px;
}

.app-section {
  position: relative;
  margin: 0;
  padding: 0;
}

.app-section-0,
.app-section-1,
.app-section-2 {
  padding: 5rem 0 0;
}

.app-section-1 {
  height: auto !important;
  min-height: auto;
}

.app-section-2 {
  height: auto !important;
  min-height: auto;
  background: url('../../assets/imgs/logo.jpg') -100px -50px no-repeat var(--mainColor);
}

.app-section-width,
.app-section-boxes {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

.app-section-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-section-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 1.5rem;
  box-sizing: border-box;
}

.app-list {
  list-style: none;
  counter-reset: item;
  padding: 0;
}

.app-list-item {
  counter-increment: item;
  margin-bottom: 3rem;
}

.app-list-item:before {
  font-family: Regular;
  margin-right: 0.5rem;
  content: counter(item);
  background: var(--secondColor);
  border-radius: 100%;
  color: white;
  padding: .4rem .85rem;
  text-align: center;
}


@media only screen 
and (max-width: 850px) {
  .app-section-boxes {
    flex-direction: column;
  }
  .app-section-box {
    width: 100%;
  }
}