.app-footer {
  position: relative;
  background: var(--mainColorDark);
  color: white;
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
}

.app-footer ul {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.app-footer ul li,
.app-footer ul li a {
  color: white;
  font-family: Lighter;
  font-size: var(--tinySize);
  margin: 0 0.5rem;
}


.app-footer ul li a {
  color: var(--secondColor);
}

.app-footer a > .line {
  height: 1.25rem;
}

.app-footer a > .line span {
  border-bottom: 1px solid var(--secondColor);
}

@media only screen 
and (max-width: 600px) {
  .app-footer ul {
    flex-direction: column;
  }
}



