:root {
  --textColor: #333333;
  --mainColor: #aa9fe3;
  --secondColor: #6caa85;
  --menuBg: #f4f7f6;
  --titleSize: 3.5rem;
  --maxSize: 1.75rem;
  --textSize: 1rem;
  --tinySize: 0.8rem;

  /* Header */
  --headerImgSize: 125%
}